$purple: #2b2d6e;
$tango: #f48024;
$black: #242729;
$border: #d6d9dc;
$silverSand: #bbc0c4;
$ipad: 767px;
$small-1: 640px;

// Flow control example
@mixin font(
  $size,
  $fontName: "Roboto",
  $fontWeight: 400,
  $defaultColor: false
) {
  font-family: $fontName, sans-serif;
  font-size: $size;
  line-height: 1.30769231;
  font-weight: $fontWeight;

  @if $defaultColor {
    color: white;
  }
}
