html, body {
  background: #344;
  font-family: helvetica neue, helvetica, arial, sans-serif;
  color: white;
}

/* Project name */
.greetings {
  text-align: center;
  font-size: 48px;
  margin: 16px;
}

.slider-container {
  position: relative;
  width: 100%;
  height: 600px;
  margin-top: 32px;
}

.slide {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  opacity: 0;
  transform: translate(-100px, -100px);
  transition: all 0.4s;
}

.active-slide {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 0.4s;
}

#thumbnails {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.thumbnail {
  border: 2px solid darkslategray;
  cursor: pointer;
  transition: all 0.4s;
}

.active-thumbnail {
  border: 3px solid white;
}

.nav {
  border: 0;
  background: transparent;
  position: absolute;
  top: 45%;
}

.nav-left {
  left: 5%;
}

.nav-right {
  right: 5%;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 16px;
}

.arrow-right {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.arrow-left {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}