html,
body {
  height: 100%;
  background: #344;
  font-family: helvetica neue, helvetica, arial, sans-serif;
  color: white;
}

body,
body *,
body *::after,
body *::before {
  box-sizing: border-box;
}

/* Project name */
.greetings {
  text-align: center;
  font-size: 48px;
  margin: 16px;
}

/* Username input modal style */
#modal-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #000;
  transform: scale(0);
  z-index: 1;
}

.modal {
  width: 90%;
  background: white;
  padding: 32px;
  margin: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  position: relative;
  z-index: 2;
}

h2 {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 15px;
}

p {
  font-size: 18px;
  line-height: 22px;
}

#modal-container.one {
  transform: scaleY(0.01) scaleX(0);
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.one .modal {
  transform: scale(0);
  animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.out {
  transform: scale(1);
  animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.out .modal {
  animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#username {
  width: 90%;
  padding: 8px 16px;
  border: 0;
  border-bottom: 1px solid #000;
  margin-top: 16px;
  outline: 0;
  background: transparent;
}

/* Quiz Container */
#quiz-container {
  text-align: center;
}

.quiz-block {
  max-width: 640px;
  width: 90%;
  margin: 32px auto;
  background: #654;
  border-radius: 8px;
  padding-bottom: 16px;
}

.question {
  font-size: 18px;
  background: #333;
  padding: 16px;
  line-height: 1.7rem;
}

.answer {
  width: 90%;
  padding: 16px;
  margin: 16px auto;
  border: 1px solid #333;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.4s;
}

.answer:hover {
  background: #333;
  transition: all 0.4s;
}

.active-answer {
  background: #333;
}

/* Buttons */
.buttons {
  width: 100%;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
}

.btn {
  width: 250px;
  margin-left: 10px;
  padding: 16px;
  border-radius: 8px;
  border: 0;
  box-shadow: 0 0 4px 0px #000;
  background: #eee;
}

.btn:first-child {
  margin-left: 0;
}

@media (max-width: 767px) {
  .buttons {
    flex-direction: column;
  }

  .btn {
    margin-left: 0;
    margin-top: 5px;
  }
}

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
