/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  font-size: 16px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* Site styling */
.container {
  width: 100%;
  max-width: 58.5rem;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Header */
header {
  position: fixed;
  width: 100%;
  left: 0;
  background: cadetblue;
  z-index: 10;
}

header .wrapper {
  width: 100%;
  max-width: 936px;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  padding: 1rem;
  background: darkslategrey;
  color: aliceblue;
}

.navigation {
  display: flex;
}

.navigation li {
  padding-left: 1rem;
}

.navigation li:first-child {
  padding-left: 0;
}

.navigation li a {
  padding-bottom: 0.2rem;
  color: white;
  transition: all 0.4s;
}

.navigation li a:hover {
  color: darkslategray;
  transition: all 0.4s;
}

/* Body */
.room-info {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #eee;
}

.room-description {
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #eee;
}

h1 {
  padding: 8rem 0 1rem;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.section-title {
  padding: 1rem 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  color: darkslategray;
  font-weight: 500;
}

.section-description {
  font-size: 0.95rem;
}

.current-slide {
  position: relative;
}

.caption {
  position: absolute;
  left: 0;
  bottom: 20px;
  padding: 0.5rem 1rem;
  color: white;
  background: black;
}

.thumbnails {
  display: flex;
  justify-content: space-between;
}

.thumbnail {
  width: 24.6%;
  position: relative;
  cursor: pointer;
}

.thumbnail::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.4s;
}

.thumbnail:hover::after {
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}

.current::after {
  background: rgba(0, 0, 0, 0);
}

.current:hover::after {
  background: rgba(0, 0, 0, 0);
}

ul.info-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.info-item {
  width: 50%;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.info-list li span {
  margin-left: 0.5rem;
}

.section-description {
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  margin-bottom: 0.5rem;
}

address {
  margin-bottom: 1rem;
}

address div {
  margin-bottom: 0.5rem;
}

address div span {
  margin-left: 1rem;
}

address div:last-child span {
  margin-left: 0.8rem;
}

.go-ahead {
  display: block;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.input {
  border: 1px solid #ccc;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.btn {
  width: 33.33333%;
  border: none;
  display: block;
  padding: 0.5rem 1rem;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  background-color: #4CAF50;
  color: #fff;
  font-size: 1rem;
  text-transform: capitalize;
  opacity: 1;
  transition: all 0.4s;
}

.btn:hover {
  opacity: 0.9;
  transition: all 0.4s;
}