* {
  box-sizing: border-box;
}

body, h1, h4, p {
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul, li {
  padding: 0;
  margin: 0;
  border: 0;
  list-style-type: none;  
}

img {
  width: 100%;
  height: auto;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

/* Header */
header { padding: 24px 0; }

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 96rem;
  margin: auto;
}

.logo {
  width: 50px;
  height: 50px;
  display: block;
}

nav ul {
  display: flex;
  font-size: 1.5rem;
}

.nav-item {
  margin-left: 4.5rem;
}

.nav-item:first-child {
  margin-left: 0;
}

/* Banner */
.banner {
  min-height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #929292;
  color: white;
}

h1 {
  font-size: 4rem;
  word-spacing: 1rem;
  padding: 32px 0;
}

.banner-tagline {
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  word-spacing: 2px;
  padding: 4px 0;
}

.banner-btn {
  background: #878787;
  border: 0;
  padding: 8px 32px;
  margin: 32px 0;
  border-radius: 16px;
  font-size: 1.3rem;
  color: white;
  cursor: pointer;
  transition: all 0.4s;
}

.banner-btn:hover {
  background: white;
  color: #6a6a6a;
  transition: all 0.4s;
}

/* Color blocks */
.color-list {
  position: absolute;
  left: 0;
  right: 0;
  top: 55%;
}

.color-item {
  width: 30%;
  padding: 48px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background-color: white;
  color: #6a6a6a;
  box-shadow: 0 0 19px -15px black;
}

.color-pic {
  width: 80px;
  height: 80px;
  margin-bottom: 48px;
}

h4 {
  font-size: 2rem;
  font-weight: bold;
}

.color-description {
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  word-spacing: 0.5px;
  margin-top: 16px;
}