/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: var(--font-family-sans-serif);
  font-size: 13px;
}

body *,
body *::after,
body *::before {
  box-sizing: border-box;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ----------------------------------------------------------------------------------------- */
/* Header */
/* ----------------------------------------------------------------------------------------- */
header {
  background: #fff;
}
header a {
  color: #33373d;
  font-weight: 600;
  font-size: 15px;
}

.header-container {
  max-width: 95rem;
  padding: 8px 0;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.header-container .header-link-list {
  align-items: center;
}
@media (max-width: 576px) {
  .header-container .header-link-list {
    flex-direction: column;
  }
}
.header-container .header-link {
  padding: 0 8px;
}
@media (max-width: 576px) {
  .header-container .header-link {
    padding: 4px 8px;
  }
}
.header-container .header-link a {
  display: flex;
  align-items: center;
}
.header-container img {
  width: 28px;
  height: 28px;
  padding-right: 4px;
}

/* ----------------------------------------------------------------------------------------- */
/* Main */
/* ----------------------------------------------------------------------------------------- */
.section-title {
  border: none;
  margin: calc(2rem - 0.05em) 0 2px;
  padding: 0;
  font-size: 1.714rem;
  font-weight: 600;
  line-height: 1.1em;
  text-transform: none;
  color: #33373d;
}

.section-subtitle {
  margin-bottom: 1rem;
  font-size: 1.14285714rem;
  line-height: 1.2em;
  color: #89959b;
}

.banner {
  background: url(images/bg.jpg) #cb202d no-repeat top center;
  background-size: cover;
  position: relative;
}
.banner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
}
.banner .banner-wrapper {
  position: relative;
  z-index: 10;
}
.banner .banner-logo {
  width: 120px;
  height: 120px;
}
.banner .auth-btns {
  padding: 8px;
}
.banner .auth-btns .auth-btn {
  padding: 12px 20px;
}
.banner .auth-btns .auth-btn:last-child {
  border: 2px solid #fff;
  border-radius: 3px;
  transition: all 0.2s;
}
.banner .auth-btns .auth-btn:last-child:hover {
  border: 2px solid #b9bfc7;
  transition: all 0.2s;
}
.banner .auth-btns a {
  font-size: 1.1rem;
  color: #fff;
  transition: all 0.2s;
}
.banner .auth-btns a:hover {
  color: #b9bfc7;
  transition: all 0.2s;
}
.banner .banner-content {
  padding: 40px 0;
}
.banner .banner-content h1 {
  padding: 24px 8px;
  font-size: 2.1rem;
  font-weight: 300;
  line-height: 36px;
  text-rendering: optimizeLegibility;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  color: #fff;
}
.banner .banner-content .search-inputs {
  width: 90%;
  margin: auto;
  max-width: 1160px;
}
@media (max-width: 576px) {
  .banner .banner-content .search-inputs {
    flex-direction: column;
  }
}
.banner .banner-content .dropdown button,
.banner .banner-content .search-restaurant input,
.banner .banner-content .search-btn {
  padding: 10px 12px;
}
@media (max-width: 576px) {
  .banner .banner-content .dropdown button,
.banner .banner-content .search-restaurant input,
.banner .banner-content .search-btn {
    width: 100%;
  }
}
.banner .banner-content .dropdown {
  flex: 0.3;
}
@media (max-width: 576px) {
  .banner .banner-content .dropdown {
    width: 100%;
  }
}
.banner .banner-content .dropdown button {
  color: black;
  background: white;
  width: 100%;
  text-align: left;
}
.banner .banner-content .dropdown button:after {
  position: absolute;
  right: 12px;
  top: 45%;
}
.banner .banner-content .search-restaurant {
  flex: 0.7;
  padding: 0 8px;
}
@media (max-width: 576px) {
  .banner .banner-content .search-restaurant {
    padding: 8px 0;
    width: 100%;
  }
}
.banner .banner-content .search-btn {
  background: #cb202d;
  color: #fff;
}

.main-container {
  margin: auto;
  max-width: 1160px;
  margin-top: 40px;
}

.collection-container .sect {
  padding: 0 8px;
}
.collection-container .sect .collection-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .collection-container .sect .collection-list {
    flex-direction: column;
  }
}
.collection-container .sect .collection {
  display: flex;
  width: 49%;
  border: 1px solid #e7e7e7;
  border-radius: 0.28571429rem;
  background: #fff;
  margin: 6px 0;
}
@media (max-width: 768px) {
  .collection-container .sect .collection {
    width: 100%;
  }
}
.collection-container .sect .collection-img {
  width: 40%;
  background-position: center center;
  background-size: cover;
  height: 120px;
}
.collection-container .sect .collection-content {
  width: 60%;
  padding: 8px;
}
.collection-container .sect .collection-content h4 {
  color: #33373d;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
}
.collection-container .sect .collection-content p {
  font-size: 14px;
  color: #33373d;
  margin-top: 5px;
}
@media (min-width: 576px) {
  .collection-container .sect .order-food-title {
    margin-top: 0;
  }
}

/* ----------------------------------------------------------------------------------------- */
/* Footer */
/* ----------------------------------------------------------------------------------------- */

/*# sourceMappingURL=style.css.map */
