@use "reset.scss";
@use "_mixin.scss" as *;
@use "_colors.scss" as *;

html {
  font-family: var(--font-family-sans-serif);
  font-size: 13px;
}

body *,
body *::after,
body *::before {
  box-sizing: border-box;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ----------------------------------------------------------------------------------------- */
/* Header */
/* ----------------------------------------------------------------------------------------- */
header {
  background: $primary;

  a {
    color: $headerText;
    font-weight: 600;
    font-size: 15px;
  }
}

.header-container {
  max-width: 95rem;
  padding: 8px 0;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;

  .header-link-list {
    align-items: center;

    @include breakpoint(0, $sm) {
      flex-direction: column;
    }
  }

  .header-link {
    padding: 0 8px;

    @include breakpoint(0, $sm) {
      padding: 4px 8px;
    }
  }

  .header-link a {
    display: flex;
    align-items: center;
  }

  img {
    width: 28px;
    height: 28px;
    padding-right: 4px;
  }
}

/* ----------------------------------------------------------------------------------------- */
/* Main */
/* ----------------------------------------------------------------------------------------- */
.section-title {
  border: none;
  margin: calc(2rem - 0.05em) 0 2px;
  padding: 0;
  font-size: 1.714rem;
  font-weight: 600;
  line-height: 1.1em;
  text-transform: none;
  color: $headerText;
}

.section-subtitle {
  margin-bottom: 1rem;
  font-size: 1.14285714rem;
  line-height: 1.2em;
  color: $text-1;
}

.banner {
  background: url(images/bg.jpg) $site-theme no-repeat top center;
  background-size: cover;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
  }

  .banner-wrapper {
    position: relative;
    z-index: 10;
  }

  .banner-logo {
    width: 120px;
    height: 120px;
  }

  .auth-btns {
    padding: 8px;

    .auth-btn {
      padding: 12px 20px;
    }

    .auth-btn:last-child {
      border: 2px solid $primary;
      border-radius: 3px;
      transition: all 0.2s;

      &:hover {
        border: 2px solid $hover;
        transition: all 0.2s;
      }
    }

    a {
      font-size: 1.1rem;
      color: $primary;
      transition: all 0.2s;

      &:hover {
        color: $hover;
        transition: all 0.2s;
      }
    }
  }

  .banner-content {
    padding: 40px 0;

    h1 {
      padding: 24px 8px;
      font-size: 2.1rem;
      font-weight: 300;
      line-height: 36px;
      text-rendering: optimizeLegibility;
      text-align: center;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
      color: #fff;
    }

    .search-inputs {
      width: 90%;
      margin: auto;
      max-width: 1160px;

      @include breakpoint(0, $sm) {
        flex-direction: column;
      }
    }

    .dropdown button,
    .search-restaurant input,
    .search-btn {
      padding: 10px 12px;

      @include breakpoint(0, $sm) {
        width: 100%;
      }
    }

    .dropdown {
      flex: 0.3;
      @include breakpoint(0, $sm) {
        width: 100%;
      }
    }

    .dropdown button {
      color: black;
      background: white;
      width: 100%;
      text-align: left;

      &:after {
        position: absolute;
        right: 12px;
        top: 45%;
      }
    }

    .search-restaurant {
      flex: 0.7;
      padding: 0 8px;

      @include breakpoint(0, $sm) {
        padding: 8px 0;
        width: 100%;
      }
    }

    .search-btn {
      background: $site-theme;
      color: $primary;
    }
  }
}

.main-container {
  margin: auto;
  max-width: 1160px;
  margin-top: 40px;
}

.collection-container .sect {
  padding: 0 8px;

  .collection-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include breakpoint(0, $md) {
      flex-direction: column;
    }
  }

  .collection {
    display: flex;
    width: 49%;
    border: 1px solid #e7e7e7;
    border-radius: 0.28571429rem;
    background: $primary;
    margin: 6px 0;

    @include breakpoint(0, $md) {
      width: 100%;
    }
  }

  .collection-img {
    width: 40%;
    background-position: center center;
    background-size: cover;
    height: 120px;
  }

  .collection-content {
    width: 60%;
    padding: 8px;

    h4 {
      color: $headerText;
      font-size: 17px;
      font-weight: 700;
      line-height: 20px;
    }

    p {
      font-size: 14px;
      color: $headerText;
      margin-top: 5px;
    }
  }

  .order-food-title {
    @include breakpoint($sm) {
      margin-top: 0;
    }
  }
}
/* ----------------------------------------------------------------------------------------- */
/* Footer */
/* ----------------------------------------------------------------------------------------- */
